* {
  font-family: BlexMono Nerd Font;
  font-weight: 400;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: #d4d4d8;
}

window#waybar > box {
  margin: 16px 16px 0px 16px;
}

#custom-arch {
  background: #7300ff;
  color: #000000;
  padding: 2px 16px 2px 12px;
  border-radius: 12px;
  font-size: 24px;
  margin-right: 16px;
}

#workspaces button {
  background-color: unset;
  border-radius: 12px;
  border: unset;
}

#workspaces button:hover {
  background-color: rgba(115, 0, 255, 0.2);
}

#workspaces button.active {
  background: rgba(113, 113, 122, 0.2);
}

#workspaces button .workspace-label {
  font-size: 8px;
  color: #d4d4d8;
}

#tray menu {
  background: rgba(24, 24, 27, 0.8);
  border: unset;
  outline: none;
}

#custom-notification {
  padding-right: 3px;
}

#privacy,
#tray,
#custom-notification,
#wireplumber {
  margin-right: 16px;
}
