/* General */
* {
  font-family: system-ui;
  font-weight: 400;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: #d4d4d8;
}

.modules-left,
.modules-right {
  background: rgba(24, 24, 27, 0.8);
  /* background: black; */
}

.modules-left,
.modules-center,
.modules-right
{
  margin: 6px 8px;
  padding: 2px 0;
  border-radius: 12px;
}
.modules-center {
  padding: 2px 16px;
}
.modules-right {
  padding: 2px 16px;
}

/* Left */
#custom-arch {
  margin: 0 12px;
  font-size: 25px;
  transition: color .2s;
  font-size: 18px;
}

#custom-arch:hover {
  color: #7300ff;
}


/* Center */

/* Right */
#tray menu {
  background: rgba(24, 24, 27, .8);
  border: unset;
  outline: none;
}

#custom-notification {
  margin-left: 16px;
}

#pulseaudio {
  margin-left: 16px;
}

#clock {
  margin-left: 16px;
}
