name: Main Deploy
on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  bump:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release_please.outputs.release_created }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run release please
        id: release_please
        uses: googleapis/release-please-action@v4
        with:
          config-file: ".release-please/main-config.json"
          manifest-file: ".release-please/main-manifest.json"
